# flyctl launch added from .gitignore
**/.DS_Store
**/node_modules
build
package
!**/.env.example
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
fly.toml
